<% layout('/layouts/boilerplate.ejs') %>
<div class="row">
    <div class="col-8 offset-2 mt-3">
        <h1>Login to WanderLust</h1>
        <form method="POST" action="/login" class="needs-validation mt-3" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" id="username" type="text" placeholder="enter your username" class="form-control" required />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" id="password" type="password" placeholder="enter your password" class="form-control" required />
                <div class="invalid-feedback">Please enter a valid Password</div>
            </div>
            <button class="btn btn-dark add-btn mt-2 mb-3">Login</button>
        </form>
    </div>
</div>
